* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5rem;
    color: navy;
    text-align: center;
}

form {
    width: 500px;
    display: grid;
    /* flex-direction: column; */
    margin: 0 auto;
    background-color: #eee;
    border: 1px solid rgb(160 160 160);
    border-radius: 1rem;
    padding: 1rem;
}

fieldset {
    justify-content: center;
    margin: 10px;
    padding: 10px;
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
}

label,
input,
button,
select {
    color: rgb(0 0 0 / 0.6);
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

label {
    text-align: right;
    padding-right: 1rem;
}

legend {
    color: navy;
    padding: 0.5rem;
    font-size: 1.3rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
    margin-right: 0.5rem;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: 0.5rem 0;
}

body {
    font-family: sans-serif;
    /* max-width: 500px; */
}

button {
    width: 50%;
    margin: 1rem;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}

footer {
    margin-top: 1rem;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}