table {
    border-collapse: collapse;
    border: 2px solid rgb(140, 140, 140);
    letter-spacing: 1px;
    text-align: center;
    font-size: 0.8rem;
    font-family: sans-serif;
}

th,
td {
    border: 1px solid rgb(150, 150, 150);
    padding: 8px 12px;
}

thead tr,
tfoot tr {
    background-color: black;
    color: white;
    font-weight: bold;
}